#board_wrap { background-color:#fff; }
.board-title{ font-family: 'Godo', sans-serif; font-size:18px; padding:15px 15px 10px; border-bottom:1px solid #ddd; box-sizing:border-box; }

/* 글목록 */
.board-list-table{ width:100%; }
.board-list-table tr { background-color:#fff;  }
.board-list-table tr:hover{ background-color:#f7f7f7; }
.board-list-table tr td{ height:65px; text-align:center; border-bottom:1px solid #ddd; vertical-align:middle !important; }
.board-list-table tr td a{ color:#111; }
.board-list-table tr td.board-list-number{ width:60px; color:#999; }
.board-list-table tr td.board-list-subject{ text-align:left !important; }
.board-list-info{ font-size:11px; color:#999; margin-top:5px; }
.board-list-info img{ height:9px; margin-bottom:2px; }

/* 글보기 */
.board-subject{ font-family: 'Godo', sans-serif; font-size:17px; padding:20px 15px 0;  box-sizing:border-box; }
.board-info{ padding:8px 15px 17px; font-size:11px; color:#999; border-bottom:1px solid #ddd; }
.board-info img{ height:9px; margin-bottom:2px; }
.board-body{ width:100%; line-height:120%; padding:10px 15px 15px; box-sizing:border-box; border-bottom:1px solid #ddd; }
.board-body img{ max-width:100%; } 

/* 글보기 좋아요 */
.board-like{ width:100%; padding:10px 0; box-sizing:border-box;  border-top:1px solid #ddd; text-align:center; }
.board-like button{ width:90px; height:40px; background-color:#fff; line-height:40px; border:1px solid #ddd; border-radius:4px; cursor:pointer; }
.good-on{ background-color:#2270ff !important; color:#fff !important; }
.bad-on{ background-color:#f62569 !important; color:#fff !important; }

/* 댓글 */
#board_comment{ margin-top:5px; border-top:1px solid #ddd; }
.comment-title-wrap{ width:100%; padding:0 15px; height:40px; line-height:40px; border-bottom:1px solid #ddd;  box-sizing:border-box; }
.comment-title-wrap b{ font-family: 'Godo', sans-serif; font-size:15px; font-weight:normal; color:#111; }
.comment-title{ width:50%; float:left; font-size:12px; color:#999999;  }
.comment-refresh{ width:50%; float:right; text-align:right; }
.comment-refresh button{ width:90px; height:30px; background-color:#fff; border-radius:4px; border:1px solid #ddd; }

.comment-write-wrap{ background-color:#f7f7f7; padding:10px 10px;  box-sizing:border-box;  }
.comment-write{ width:100%; margin:0 auto; background-color:#fff; border:1px solid #ddd; box-sizing:border-box; }
.comment-write textarea{ border:none; width:100%; height:60px; padding:5px; box-sizing:border-box; resize: none; }
.comment-write-name{ padding:10px 0 0 10px; font-weight:bold; }
.comment-write-btn-wrap{ height:40px; border-top:1px solid #ddd; }
.comment-write-btn{ float:right; }
.comment-write-btn button{ width:90px; height:40px; border:none; background-color:#f7407c; color:#fff; }

.comment-list-wrap{}
.comment-list{ border-top:1px solid #ddd; padding:20px 15px; box-sizing:border-box; }
.comment-list ul{  } 
.comment-list-info b{ font-size:13px; color:#111; }
.comment-list-info{ font-size:12px; color:#999999; }
.comment-list-body{ margin:6px 0 7px 0; line-height:130%; }
.comment-list-btn{ font-size:12px; color:#999999; }

.comment-list-write{ background-color:#f7f7f7; }
.comment-write2{ width:100%; margin:10px auto 0; background-color:#fff; border:1px solid #ddd; box-sizing:border-box; }
.comment-write2 textarea{ border:none; width:100%; height:60px; padding:5px; box-sizing:border-box; }

.comment-list2{ border-top:1px solid #ddd; background-color:#f7f7f7; padding:10px 25px 8px 50px; box-sizing:border-box; background-image:url('/skin/pink/img/reply.png'); background-repeat:no-repeat; background-position:15px 0; }
