@charset "utf-8";

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img { margin:0; padding:0; }
html, body { width:100%; height:100%; }

li{ list-style:none; }

body,div,tr,td,input,select,button,li {
	font-family:arial,tahoma,Malgun Gothic,'굴림',Gulim,'돋움',dotum;
	font-size:12px;
	line-height:12px;
	color:#444444;
}
a{ text-decoration:none !important; }

/* 폼 */
select { border:1px solid #dddddd; height:26px; line-height:26px; padding-left:3px; box-sizing:border-box; }
input[type=text],
input[type=password]{ border:1px solid #dddddd; width:100%; height:26px; line-height:26px; padding-left:3px; box-sizing:border-box; }
input[type=text]:focus { border:1px solid #335dad; }
 
textarea{ border:1px solid #dddddd; width:100%; height:150px; padding-left:3px; box-sizing:border-box; }

input[type=radio] {
  vertical-align:middle;
}

input[type=checkbox] {
  vertical-align:middle;
}

img,input,select {
  vertical-align:middle;
}

/*
label{ margin-right:10px;}
*/


/* */
.explain{
border:1px dashed #8aa3d2;
padding:5px;
margin-top:5px;
border-radius:5px;
background-color:#f7f7f7;
color:#3266cc;
font-size:12px;
line-height:120%;
}

.text-transform-uppercase{ text-transform:uppercase; }

.float-left { float: left !important; }
.float-right { float: right !important; }
.float-none { float: none !important; }

.display-table { display:table !important; }
.display-table-row { display:table-row !important; }
.display-table-cell { display:table-cell !important; }
.display-none{ display:none !important; }

.v-align-top{ vertical-align: top !important; }

.text-align-left{ text-align:left !important; }
.text-align-center{ text-align:center !important; }
.text-align-right{ text-align:right !important; }

.m-t-0 { margin-top: 0px !important; }
.m-t-1 { margin-top: 1px !important; }
.m-t-2 { margin-top: 2px !important; }
.m-t-3 { margin-top: 3px !important; }
.m-t-4 { margin-top: 4px !important; }
.m-t-5 { margin-top: 5px !important; }
.m-t-6 { margin-top: 6px !important; }
.m-t-7 { margin-top: 7px !important; }
.m-t-8 { margin-top: 8px !important; }
.m-t-9 { margin-top: 9px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-t-11 { margin-top: 11px !important; }
.m-t-12 { margin-top: 12px !important; }
.m-t-13 { margin-top: 13px !important; }
.m-t-14 { margin-top: 14px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-t-16 { margin-top: 16px !important; }
.m-t-17 { margin-top: 17px !important; }
.m-t-18 { margin-top: 18px !important; }
.m-t-19 { margin-top: 19px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-t-25 { margin-top: 25px !important; }
.m-t-30 { margin-top: 30px !important; }
.m-t-35 { margin-top: 35px !important; }
.m-t-40 { margin-top: 40px !important; }

.width-full{ width:100% !important; }

/* 필터 */
.grayscale {-webkit-filter: grayscale(100%);filter: grayscale(100%);}