<!doctype html>
<html lang="ko">
<head>
<title>코당 남성용품 가격비교</title>

	<meta name="keywords" content="<?=$meta_keywords?>">

	<meta name="title" content="<?=$meta_title?>"/>
	<meta name="description" content="<?=$meta_description?>"/>
<!-- 
	<meta property="og:type" content="website" />
	<meta property="og:title" content="<?=$meta_title?>" />
	<meta property="og:description" content="<?=$meta_description?>" />
	<meta property="og:image" content="http://osi.lol/skin/<?=$show_skin_name?>/og-image.png" />
	<meta property="og:url" content="http://osi.lol" />
 -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="imagetoolbar" content="no" />
<!-- 
	<meta name="viewport" content="width=1150" />
 -->
	<meta name="google-site-verification" content="BWj3K3I-ylfuDAxJIqbRAN_YRhwxHfqsWVVCvv96pfo" />

	<link rel="shortcut icon" href="/favicon.ico?v2" />

	<link rel="stylesheet" type="text/css" href="/skin/<?=$show_skin_name?>/css/common.css?ver=<?=$check_time?>" />
	<link rel="stylesheet" type="text/css" href="/skin/<?=$show_skin_name?>/css/layout.css?ver=<?=$check_time?>" />

	<script src="/front/js/d3.js"></script>
	<script src="/front/js/d3.min.js"></script>

	<script src="/plugins/jquery/jquery-1.11.1.min.js"></script>

	<!-- jqueryui -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<script src="/front/js/common.js?ver=<?=$check_time?>"></script>

	<script src="https://kit.fontawesome.com/1bf24fd3f6.js" crossorigin="anonymous"></script>

	<!-- bootstrap -->
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>