.pv-wrap{ padding-bottom:15px; }

.pv-info{ border-bottom:1px solid #3b4250; padding:0 10px 15px 10px; margin:20px 0 20px 0; cursor:pointer; }
.pv-info > ul{ margin:0 !important; padding:0 !important; }
.pv-info > ul.pd-name{ }
.pv-info > ul.pd-name h1{ font-size:24px; color:#fff;  }
.pv-info > ul.pd-name-og{ color:#999; }

.pd-info-div{}
.pd-info-div ul{ height:20px; line-height:20px; }

.pv-body{ width:100%; margin-top:10px; display:table; }
.pv-body > ul{ display:table-cell; vertical-align:top; box-sizing:border-box; }
.pv-body > ul.img{ width:350px; }
.pv-body > ul.img .img-box{ width:350px; height:360px; padding:24px; overflow:hidden; background-color:#fff; border-radius:10px; box-sizing:border-box; }
.pv-body > ul.info{  }

.pv-top-wrap{ width:100%; display:table; }
.pv-top-wrap > ul{ display:table-cell; vertical-align:top; box-sizing:border-box; }
.pv-top-wrap > ul.graph{ width:470px; }
.pv-top-wrap > ul.graph .pd-graph-wrap{ width:100%; height:360px; padding:0 0 0 0; margin:0; background-color:#fff; border-radius:10px; box-sizing:border-box;  }

.score-wrap{ padding:40px 0 0 0; }
.score-wrap > ul{ text-align:center; }

.score-wrap > ul.tier-icon{ font-size:18px; margin-bottom:10px; }
.score-wrap > ul.tier-icon img{ width:24px; }
.score-wrap > ul.grade{}
.score-wrap > ul.grade span.sname{ color:#858c99; font-size:13px; }
.score-wrap > ul.grade span.svalue{ font-size:18px; }




.prd-detail-info{ width:350px; margin-top:20px; padding:20px; border-radius:10px; box-sizing:border-box; background-color:#111827; }
.prd-detail-info > ul{ padding-bottom:13px; }
.prd-detail-info > ul > label.sname{ display:block; color:#858c99; font-size:12px; font-weight:400; vertical-align:middle; margin:0; padding:0; }
.prd-detail-info > ul > span.svalue{ display:block; margin:2px 0 0 0; padding:0; }
/*
.prd-detail-info ul li.sname{ color:#858c99; text-align:right; }
.prd-detail-info ul li.svalue{ padding-left:10px; }
*/

.comment{}
.comment-list{ width:100%; background-color:#111827; border:1px solid #000; font-size:13px; border-radius:10px; padding:10px 17px 13px 15px; margin:7px 0; }

.comment-list > div.cm{ display:table; width:100%; }
.comment-list > div.cm > div{ display:table-cell; vertical-align:top; }
.comment-list > div.cm .cm-img{ width:130px; padding:5px 0 0 5px; }
.comment-list > div.cm .cm-img .img-box{ width:100px; height:100px; overflow:hidden; border:3px solid #000; border-radius:10px; }
.comment-list > div.cm .cm-img img{ width:100%; }
.comment-list > div.cm .cm-img .cm-mobile-info{ display:none; }
.comment-list > div.cm .cm-body{  }

.comment-list span.score{ color:#ff7498; }
.comment-list ul.comment-body{ padding:10px 0 0 3px; word-wrap: break-word; }

.comment-list span.score-mode{ display:inline-block; text-align:center; width:85px; font-size:12px; border-radius:5px; padding:4px 7px; margin:0 6px 0 0; }
.comment-list span.score-mode.after{  background-color:#0f9fa1; color:#fff;  }
.comment-list span.score-mode.nonuser{ background-color:#252e3d; color:#adb0b6; }

.comment-list span.level-icon{ display:inline-block;  font-size:11px; border-radius:5px; padding:3px 4px 2px;  }
.comment-list span.level-icon.level-1{ background-color:#252e3d; color:#adb0b6; }
.comment-list span.level-icon.level-2{ background-color:#252e3d; color:#adb0b6; }
.comment-list span.level-icon.level-3{ background-color:#252e3d; color:#adb0b6; }
.comment-list span.in-user{ cursor:pointer; font-weight:700; }
.comment-list span.in-user:hover{  color:#a5cbff; }
.comment-list span.no-member{ color:#eee; }

.comment-list p.name{ display:inline-block; margin-top:6px; }
.comment-list p.pname{ display:inline-block; margin-top:6px; font-size:13px; }
.comment-list p.pname a{ color:#fff; }

.score-box-wrap{ margin-top:5px; }
.score-box{ background-color:#252e3d; color:#adb0b6; display:inline-block; text-align:center; font-size:12px; border-radius:5px; padding:4px 8px; margin:0 6px 0 0; }
.score-box b{ font-weight:400 !important; color:#eee; }

.comment-wrap{ padding:20px 0 0 20px; }
.comment-guide{ padding:10px 0; border-radius:10px; background-color:#111827; text-align:center; }

.comment-btn{ padding:10px 0; }

.comment-write{ display:none; border:1px solid #020712; background-color:#4a5367; box-sizing:border-box; padding:15px 20px; margin:15px 0; border-radius:10px; }
.comment-write select{ width:105px; height:30px; padding:4px; border-radius:5px; font-size:12px; border:1px solid #303c58;  }
.comment-write select:disabled {
	background:#adb1b9;
}

#score_all{ width:150px; }
.score-guide{ padding:5px; font-size:12px; display:none; }
#score{ width:120px; }

#comm_name, #comm_pw{ width:200px; height:30px; 
padding:4px; border-radius:5px;  border:1px solid #303c58; }
/*
.comment-write input[type=text],
.comment-write input[type=password]{ }
*/

.comment-write-wrap{ width:100%; display:table; }
.comment-write-wrap ul{ display:table-cell; vertical-align:top; }
.comment-write-wrap ul textarea{ width:100%; height:85px; border-radius:5px; font-size:13px;  border:1px solid #303c58; box-sizing:border-box; padding:10px; }
.comment-write-btn{ width:95px; box-sizing:border-box; padding-left:8px; }
.comment-write-btn button{ width:85px; height:85px; color:#fff; border-radius:5px; background-color:#6191c2; border:1px solid #40678f; box-sizing:border-box;}



/* mobile */
@media(max-width:767px){

	.pv-info > ul.pd-name{ font-size:1em; }
	.pv-info > ul.pd-name h1{ font-size:1.3em; }
	.pv-info > ul.pd-name-og{ display:none; }

	.pv-body{ width:100%; margin-top:10px; display:block; }
	.pv-body > ul{ display:block; vertical-align:top; }
	.pv-body > ul.img{ width:100%; }
	.pv-body > ul.img .img-box{ height:350px; margin:0 auto; }
	.pv-body > ul.info{ margin:0 auto; }

	.pv-top-wrap{ display:block; }
	.pv-top-wrap > ul{ display:block; }

	.score-wrap{ padding:20px 0; }

	.pv-top-wrap > ul.graph{ width:100%; }
	.pv-top-wrap > ul.graph .pd-graph-wrap{  height:350px; border-radius:0; padding:0 20px; }

	.prd-detail-info{ width:100%; margin-top:10px; padding:10px 35px 10px; }
	.prd-detail-info > ul{ padding-bottom:10px; }
	
	.score-box{ font-size:11px; padding:3px 6px; margin:0 5px 5px 0; }

	.comment-wrap{ padding:0; }
	.comment-guide{ background-color:none; padding:20px 30px; border-radius:0; }
	.comment-guide > span{ display:block; }
	.comment-guide > span a{ margin:10px 5px 5px; }

	.comment{ padding:0 10px; }
	.u-view .comment{ padding:0; }

	.comment-list > div.cm{ display:block;  }
	.comment-list > div.cm > div{ display:block; vertical-align:top; }
	.comment-list > div.cm .cm-img{ display:table; width:100%;  }
	.comment-list > div.cm .cm-img .img-box{ display:table-cell;  width:85px; height:85px; vertical-align:top; }
	.comment-list > div.cm .cm-img .cm-mobile-info{ display:table-cell;  vertical-align:top; padding:7px 0 0 7px; }
	.comment-list > div.cm .cm-body .cm-pc-info{ display:none; }

	.comment-write-wrap{ display:block; }
	.comment-write-wrap ul{ display:block; }
	.comment-write-btn{ width:100%; padding:7px 0 0 0; }
	.comment-write-btn button{ width:100%; height:45px; }
}


.min-price-box{ width:100%; }
.min-price-name{ font-family: 'Noto Sans KR', sans-serif;  font-size:14px; color:#000;  }
.min-price-wrap{ color:#0097fa; margin-top:9px; }
.min-price{ font-family: 'Noto Sans KR', sans-serif;  font-size:22px;  font-weight:700; }
.pv-site-title{ margin-top:10px; height:24px; line-height:24px; font-family: 'Noto Sans KR', sans-serif;  font-size:14px; font-weight:700; color:#000; }
.pv-site{ width:100%; border:1px solid #ddd; box-sizing:border-box; border-radius:5px; margin-top:5px; padding:5px; }
.pv-site table{ width:100%; }
.pv-site table tr td { height:28px; line-height:120%; text-align:center; border:1px solid #eee !important; box-sizing:border-box; }

.pv-site .site-price{ width:80px; padding-right:5px; }
.pv-site .site-delivery{ width:60px; padding-right:5px; }
.pv-site .site-etc{ width:110px; font-size:11px; }
.pv-site .pv-site-link{ width:66px; padding:3px 0 !important; }

.pv-view-tap-wrap{ width:100%; /* border-bottom:2px solid #0e2a4f; */ box-sizing:border-box; height:38px;  }
.pv-view-tap{ display:table;   }
.pv-view-tap ul{ cursor:pointer !important; display:table-cell; width:130px; height:37px; border-top:1px solid #e5e6e8 !important;  border-right:1px solid #e5e6e8 !important; text-align:center; }

.pv-view-tap ul a { overflow:hidden; display:inline-block; width:100%; height:37px; line-height:37px; text-align:center; vertical-align:middle; white-space:nowrap; text-overflow:ellipsis;  box-sizing:border-box; padding:0 !important; background-color:#f1f2f4 !important; color:#333; }
.pv-view-tap ul.active a,
.pv-view-tap ul.all-active a{ background-color:#0e2a4f !important; color:#ffff;  }

.pv-view-tap ul.active{ background-color:#0e2a4f !important; color:#ffff;  }
.pv-view-site-count{ color:#ff4842; }

.pv-view-list{ width:100%; }
.pv-view-list table{ width:100%; }

.pv-title{ height:40px; font-family: 'Godo', sans-serif; font-size:18px; box-sizing:border-box;  padding-top:15px; margin:0 !important; border-top:2px solid #0e2a4f; }
/* .pv-title.frist{ border-top:none !important; } */
.pv-review-point{ width:100%; background-color:#f7fafc; border:1px solid #eaedef; box-sizing:border-box; display:table; padding:20px; }
.pv-review-point ul{ box-sizing:border-box; vertical-align:top; }
.crp-section{ width:100%;}
.crp-section-name{  font-family: 'Noto Sans KR', sans-serif;  font-size:16px; color:#000; font-weight:500; text-align:center; }
.crp-section-score-icon{ text-align:center; margin-top:25px;  }
.crp-section-score-icon i { font-size:22px;  }
.crp-section-score-icon .on{ color:#f84a44; }
.crp-section-score-icon .off{ color:#ddd; }
.crp-section-score{ margin-top:20px; text-align:center; font-family: 'Noto Sans KR', sans-serif;  font-weight:700; font-size:18px; color:#ddd; }
.crp-section-score span{ color:#000; }
.crp-section-icon{ text-align:center; margin-top:20px; color:#ccc; font-size:30px; }
.crp-section-count{ margin-top:15px; text-align:center; font-family: 'Noto Sans KR', sans-serif;  font-weight:700; font-size:18px; color:#000; }

.pv-review-list{ width:100%; padding:10px 0 10px 6px; border-bottom:1px solid #f1f1f1 !important; box-sizing:border-box;  }
.pv-review-list ul{ width:100%; }
.pv-review-list .fas.fa-star.on{ color:#f84a44; }
.pv-review-list .far.fa-star.off{ color:#ddd; }
.pv-review-list .grade-icon{  font-size:18px; }
.pv-review-list .grade-text{  font-size:18px; color:#000;  }
.review-contents{ padding:3px 15px 0 0 ; box-sizing:border-box; }
.review-contents-subject{ height:24px; line-height:24px; font-family: 'Noto Sans KR', sans-serif;  font-size:16px; color:#000; font-weight:500; margin-bottom:5px; 
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 1; /* 라인수 */
 -webkit-box-orient: vertical;
 word-wrap:break-word; 
}
.review-contents-body{ color:#666; 
width:670px;
line-height:140%;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 4; /* 라인수 */
 -webkit-box-orient: vertical;
 word-wrap:break-word; 
}

.review-img { width:100px; }
.review-img img { width:98px; border:1px solid #ddd; }
.pv-review-pageing{ margin-top:10px; }
.pv-review-btn{ margin:10px 0 20px 0; text-align:center; }

.pv-comment-pageing{ margin:10px 0 20px 0; }

.fixed-menu{
	position:fixed;
	top:0; left:0;
	width:100%; height:100px; background-color:#fff; border-bottom:2px solid #0e2a4f; box-sizing:border-box; 
	display:none;
	z-index:99;
}

.fixed-menu-wrap{ width:1100px; margin:0 auto; }
.fixed-menu-pd-info{ height:60px; box-sizing:border-box; padding:5px 0 0 0; }
.fixed-menu-pd-img img{ height:50px; }
.fixed-menu-pd-info-name{ height:26px; line-height:26px; font-family: 'Noto Sans KR', sans-serif; font-weight:700; font-size:15px; color:#000;  }
.fixed-menu-pd-info-price{ font-family: 'Noto Sans KR', sans-serif; font-weight:700; font-size:13px; color:#ff0000; }
.sc-m-icon{ width:50px; height:50px; padding:0 !important; margin:0 !important; border:1px solid #ccc !important; border-radius:50%; overflow:hidden; box-sizing:border-box; background-size:100% 100%; }

.pv-comment{ background-color:#0b1323; box-sizing:border-box; }
.pv-comment-wrap{ width:100%; border-bottom:6px solid #172032; display:table; }
.pv-comment-wrap ul{ vertical-align:top; }
.comment-list-m-icon{ width: 60px; padding:10px 8px 10px 15px;  }
.comment-list-body{ padding:12px 0 15px 25px; }
.comment-list-btn{ width:150px; text-align:right; vertical-align:middle !important; padding-right:10px; box-sizing:border-box;   }

.clb-wrap-info-name{ font-size:11px; color:#999; margin-right:10px; }

.micon-i{ margin-right:2px; }

.clb-wrap-info-date{ font-size:11px; color:#999999; }
.clb-wrap-body{ margin-top:5px !important; margin-bottom:10px !important; color:#eee; font-size:13px; line-height:140%; }
.clbtn-wrap{ width:100%; height:35px; position:relative; color:#999; margin-top:15px; cursor:pointer;  }
.clbtn-menu{ width:70px; padding:7px; border:1px solid #dde1e2; top:0; left:-65px; background-color:#fff; position:absolute; display:none; }
.clbtn-menu ul{ height:20px; line-height:20px; }

.comment-like-btn{ min-width:50px; overflow:hidden; border:1px solid #d5d5d5; border-radius:3px; background-color:#fff; padding:5px !important; }
.comment-like-btn.good{ color:#3569c7; }
.comment-like-btn.bad{ color:#ff0000; }
.comment-like-btn.good.active{ color:#fff; border:1px solid #3569c7; background-color:#3569c7; } 
.comment-like-btn.bad.active{ color:#fff; border:1px solid #ff0000; background-color:#ff0000; }

.pv-pd-info-nodata{ width:100%; height:200px; background-color:#f7f7f7; border:1px solid #eee; box-sizing:border-box; padding:20px; }
.pv-pd-info-nodata ul{ text-align:center; }
.nodata-icon{ font-size:50px; color:#ddd; padding-top:30px; }

.related-goods-title{ height:36px; line-height:36px; color:#555; border-bottom:1px solid #ccc; margin: 15px 0 0 0 !important; padding: 0 !important; }
.related-goods-title h2{ font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size:18px; color:#555; display:inline-block; margin: 0 10px 0 0 !important; padding: 0 !important; }
.related-goods{ width:100%; overflow:hidden; box-sizing:border-box; }
.related-goods-li{ width:25%; height:270px; box-sizing:border-box; float:left; }
.goods-box{ width:100%; padding:10px; box-sizing:border-box; }
.goods-box ul{ margin:0 !important; padding:0 !important; }
.thum img{ width:100%; border:1px solid #e2e2e2; }
.goods-box ul.name{ padding-top:8px !important; }
.goods-box ul.price-wrap{ padding-top:10px !important; color:#0073be; }
.goods-box ul.price-wrap .price{ font-weight:bold; }
.goods-box ul.score-icon{ padding-top:4px !important; color:#ccc;  }
.goods-box ul.score-icon .on{ color:#f84a44; }
.goods-box ul.score-icon .off{ color:#ddd; }
.goods-box ul.score-icon .score{ font-weight:bold; color:#000; }

#pv_site{ border-top:1px solid #eeeeee; box-sizing:border-box;  }
.site-box{ width:100%; height:80px; display:table; vertical-align:top; padding:0 !important; margin:0 !important; border-bottom:1px solid #eeeeee; box-sizing:border-box; }
.site-box li{ display:table-cell; vertical-align:middle; }
.site-logo{ width:110px;  box-sizing:border-box; padding-left:15px;}
.site-logo img{ width:60px; }
.site-info{ }
.site-name{ font-size:13px; }
.site-price{ width:110px; }
.site-price-text{ font-size:13px; }
.site-delivery-price{ width:90px; color:#999; text-align:center; }
.site-go{ width:80px; }

.site-kind-qodp{ color:#dc3545; line-height:22px; }
.sum-price{ font-size:13px; color:#1e8fff; line-height:22px; }
.delivery-time{ color:#1e8fff; line-height:22px; }

