.join-wrap{ width:500px; margin:0 auto; padding-top:50px }
.join-logo{ width:100%;  }
.join-box{ width:100%; background-color:#fff; border:1px solid #000; border-radius:10px; margin-top:20px; 
	padding:50px; box-sizing:border-box; 
	text-align:center;
}
.join-copyright{ margin-top:10px; }

.join-title{ width:100%; margin:0 auto; font-family: 'Godo', sans-serif; color:#000; font-size:17px; text-align:left; height:30px !important; line-height:30px !important; }

.join-form{ width:100%; margin:0; padding:0; }
.join-form ul,
.login-form ul{ margin-bottom:6px; }

.join-form ul label,
.login-form ul label{ width:100%; height:40px; margin:0; padding-left:10px; box-sizing:border-box; border:1px solid #ddd; border-radius:6px; text-align:left; }

.join-form ul label i { color:#ddd; }
.join-form ul label i.i-check-on{ color:#0eb856; }

.join-form ul label{

}
.join-form ul label input,
.login-form ul label input{ width:100%; height:38px; border:none; border-radius:6px; margin:0; padding:0 0 0 3px; }

.join-form ul label input.ck-input{  width: calc(100% - 106px); }
.join-form ul label a{ display:inline-block !important; vertical-align:middle;  }

.join-form ul .btn-s1.block,
.login-form ul .btn-s1.block{ width:100%; }

#join_step2{ display:none; }