<div class="modal fade" id="modal-alert">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_alert_title">알림메시지</h4>
      </div>
      <div class="modal-body" id="modal_alert_msg">
        <p>...</p>
      </div>
      <div class="modal-footer" id="modal_footer_btn_wrap">
        <button type="button" class="btn btn-primary" data-dismiss="modal">창닫기 ( Close )</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
      <div class="modal-footer display-none" id="modal_footer_confirm_btn_wrap">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary" id="confirm-ok">실행</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>