@font-face{
 font-family:'Godo';
 font-style:normal;
 font-weight:400;
 src:url('/data/fonts/GodoM.woff2') format('woff2'),
     url('/data/fonts/GodoM.woff') format('woff');
}
@font-face{
 font-family:'Godo';
 font-style:normal;
 font-weight:700;
 src:url('/data/fonts/GodoB.woff2') format('woff2'),
     url('/data/fonts/GodoB.woff') format('woff');
}

.font-color-pink{ color:#ff3393 !important; }

body { 

}

#header{
	width:100%;
	height:205px;
	padding:0;
	margin:0;
}
.header-top-wrap{ width:100%; height:40px; border-bottom:1px solid #dddddd;  }
.header-top{ width:1100px; margin:0 auto; height:40px;  }
.header-top-right li{ line-height:39px; margin-left:6px; }

.header-logo-wrap{ width:1100px; height:119px; margin:0 auto;  padding:17px 0 0 0; box-sizing:border-box; position:relative;   }
.header-logo{ width:570px; }
.header-search{ width:430px; height:46px; position:absolute; top:37px; right:0; border:3px solid #3a7bd5; border-radius:23px; display:table; overflow:hidden; }
.header-search ul{ display:table-cell; color:#fffff !important; }
.header-search ul input{ height:46px; background:none; border:none; color:#fffff !important; -webkit-text-fill-color: #fff; }
.header-search ul input:focus { -webkit-text-fill-color: #fff; }
.header-search-btn{ width:50px; }
.header-search-btn button{ width:40px; height:46px; background:none; border:none; }
.header-search-btn button i{ font-size:20px; color:#3a7bd5; }

.gnb-wrap{ width:100%; height:45px; background-color:#000;  }
.gnb{ width:1100px; margin:0 auto; height:45px; overflow:hidden; position:relative; }
.gnb ul{ padding:0; margin:0; }
.gnb-menu{}
.gnb-menu li{ color:#fff; line-height:45px; padding:0 25px; 
/*
font-family: 'Godo', sans-serif; font-size:16px;
*/
font-family: 'Noto Sans KR', sans-serif;  font-size:16px;
}
.gnb-menu li a{ color:#5ce9a8; }
.gnb-menu li.point{ background-color:#222; color:#37ffc4; }
.gnb-all-btn-wrap{ width:45px; height:45px; box-sizing:border-box; padding-top:12px !important; background-color:#222;  text-align:center; position:absolute; top:0; right:0; }
.gnb-all-btn-wrap i { color:#37ffc4; font-size:18px; }

#contents_wrap{
	width :100%;
/*
	width : -webkit-calc(100%); 
	width :    -moz-calc(100%); 
	width :         calc(100%);
	height : -webkit-calc(100% - 150px);
	height :	-moz-calc(100% - 150px);
	height :		 calc(100% - 150px);
*/
	min-height : calc(100% - 130px);
	box-sizing:border-box;
}

#footer{ width:100%; height:70px;	margin-top:10px; background-color:#212529; position:relative; color:#eee; }
#footer_wrap{ width:1100px; height:70px;  margin:0 auto; color:#999;  text-align:left; box-sizing:border-box; padding-top:20px; position:relative;}
#footer_social { position:absolute; top:20px; right:0;  }
#footer_social li { width:25px; height:25px; float: right; margin-left:5px; }
#footer_social li img{ width:25px;}
/* 메인 */
#main_logo{
	width:406px;
	height:211px;
	margin:0 auto;

}

#main_illust{
	width:100%;
	text-align:center; 
	margin-top:50px;
	margin-bottom:40px;
}

#main_search{
	width:460px;
	height:211px;
	margin:0 auto;
}







a{ color:#111; text-decoration:none; }
/*
#gnb ul li a{ color:#ffffff; text-decoration:none; }
#gnb ul li a:hover{ color:#00ff00; }
#gnb ul li.gnb_now a{ color:#ffff00; text-decoration:none; }
#gnb ul li.gnb_now a:hover{ color:#00ff00; }
*/




#wrap {
	width:100%; 
}

#wrap_left {float: left;width: 209px; background-color:#303742; border-right:1px solid #b4b4b4;}
#wrap_left_wrap{ width: 100%; position:relative; z-index:100; }
#left_closed_btn{ width: 36px; height:51px; color:#4d5766; line-height:51px; cursor:pointer; text-align:left; box-sizing:border-box; padding-left:5px; font-size:20px; background:url('/admin/img/left_closed_btn_bg.png'); position:absolute; top:0; right:-36px; }
#left_closed_btn:hover{color:#ffe400;  }



#contents{
width:1100px;
margin: 20px auto 0;
box-sizing:border-box; 
padding:0 !important;
}



#contents_head { width:100%; height:50px; background-image:url('/img/ch_bg.gif'); padding-left:30px; border-bottom:1px solid #555; position:relative; box-sizing:border-box; overflow-y: hidden; overflow-x: auto;}

#contents_head h1 {
	font-family: 'Godo', sans-serif;
	color:#222;
	font-size:20px;
	line-height:50px;
	height:50px; 
	padding:0 0 0 50px;
	background:url('/img/contents_head_bg.png');
	background-repeat:no-repeat;
	float:left;
}

#contents_head #head_btn{
	height:50px;
	line-height:48px;
	margin-left:20px;
	float:left;
}

#contents_head #head_btn input[type="button"]{
	height:28px;
	line-height:28px;
	padding:0 7px;
}

#contents_head #head_btn input[type="button"]:hover{
	border:1px solid #000;
	cursor:pointer;
}

#contents_head #head_write_btn {
	width:250px;
	height:41px; 
	position:absolute;
	top:5px;
	right:20px;
}
.head-write-btn:hover{ background-position: 0 -41px; }

#contents_body {width:100%; height:100%; }
#contents_body_wrap{ width:100%;  height:100%; }


.gnb-right{ width:350px; height:50px; box-sizing:border-box; padding:0 !important; margin: 0 !important;   }
.gnb-right li{ padding:0 !important; margin: 0 !important;   }

.summoner-search{ width:250px; height:50px; box-sizing:border-box; }
.summoner-search-wrap{ width:250px; height:30px; box-sizing:border-box; padding:3px; background-color:#fff; border:1px solid #a30035; border-radius:4px; margin-top:11px; }
.summoner-search-wrap input[type=text]{  width:210px; height:22px; box-sizing:border-box; border:none;  }
.summoner-search-wrap button{ width:28px; height:22px; border:none; background-color:#fff; color:#dc1e5c; cursor:pointer; }
.summoner-search-wrap input::placeholder {
	font-size:11px;
}

.login-btn a{ background-color:#c80b49; font-family: 'Godo', sans-serif; color:#fff; font-size:16px; display:block; width:80px; height:30px; line-height:30px !important; text-align:center; 
border:1px solid #a30035; border-radius:4px; margin-top:9px; }
.login-btn a:hover{ background-color:#fff; color:#dc1e5c;  }

#login_info{ position:relative; }
#nick-wrap { width:260px; height:50px; position:absolute; top:0; left:0; padding:10px 5px 0 0 !important; color:#ffffff; text-align:right; box-sizing:border-box; line-height:120%; }
#nick-wrap ul { color:#fff; }

#btn-wrap{ width:90px; position:absolute; top:0; right:0; padding:0 !important; }
#btn-wrap ul{ width: 90px; margin:0 !important; padding:0 !important; }
#btn-wrap ul li{ width:40px; height:50px !important; float:right !important; margin:0 0 0 5px !important; padding:0 !important; }

.info-btn,
.logout-btn{ background-color:#c80b49; font-family: 'Godo', sans-serif; color:#fff; font-size:14px; width:40px; height:30px !important; line-height:30px !important; text-align:center; 
border:1px solid #a30035; border-radius:4px; margin-top:10px; cursor:pointer; }

.info-btn:hover,
.logout-btn:hover{ background-color:#fff; color:#dc1e5c; }

.fontc-f62569{ color:#f62569; }
.fontc-2270ff{ color:#2270ff;  }

#sub_layout{ width:1100px; height:100%; margin:10px auto 0;  box-sizing:border-box; display:table; } 
#sub_layout_right{ width:290px; display:table-cell; vertical-align:top; }
#sub_layout_body{ height:300px; display:table-cell; vertical-align:top; padding-right:15px; box-sizing:border-box;  }

.out-login-wrap{ background-color:#f5f5f5; border:1px solid #dddddd !important; padding:15px 15px 9px 15px; box-sizing:border-box; }
.out-login{ display:table; width:100%; }
.out-login-input{ display:table-cell; vertical-align:top; border-top:1px solid #dddddd; border-left:1px solid #dddddd; border-bottom:1px solid #dddddd; }
.out-login-input input{ width:100%; height:31px; border:none; box-sizing:border-box; padding:5px; }
.out-login-input input[type="text"]{ border-bottom:1px solid #dddddd; }
.out-login-btn{ width:75px; display:table-cell; vertical-align:top; }
.out-login-btn input[type="button"]{ width:75px; height:64px; background-color:#3598dc; color:#fff; font-family: 'Noto Sans KR', sans-serif;  font-size:14px; font-weight:700; border:1px solid #1882cb !important; box-sizing:border-box; }
.out-login-link{ padding:8px 0 0 0; text-align:right; }

.member-box-wrap{ background-color:#f5f5f5; border:1px solid #dddddd !important; border-radius:3px; padding:15px 15px 15px 15px; box-sizing:border-box; }
.member-no-m-icon{ width:50px; height:50px; line-height:45px; background-color:#fff; border:1px solid #dde1e2; border-radius:50%; text-align:center; vertical-align:middle; font-size:20px; color:#999; }
.member-box{ width:100%; box-sizing:border-box; }
.m-icon{ width:62px; }

.comment-menu{ border:1px solid #dddddd !important; border-radius:3px; box-sizing:border-box; padding:0; }
.comment-menu ul{ height:28px; line-height:28px; box-sizing:border-box; margin:0 !important; padding-left:15px !important; cursor:pointer; }
.comment-menu ul.frist{ height:36px !important; padding-top:8px !important; }
.comment-menu ul.end{ height:36px !important; padding-bottom:8px !important; }
.comment-menu ul.active{ background-color:#f7407c; color:#fff; }

.page-title{ width:100%; text-align:left; box-sizing:border-box; padding-left:39px; height:30px !important; border-bottom:1px solid #ddd !important; 
background-image:url('/skin/kodang/img/title_icon.png');
background-repeat:no-repeat;
background-size:27px 20px;
background-position:7px 4px;
}
.page-title h2{ font-family: 'Godo', sans-serif; color:#333; font-size:20px; line-height:30px !important; padding:0!important; margin:0 !important;}

/* 공통 */
.basic-btn{ display:inline-block;*display:inline;*zoom:1; vertical-align:middle;cursor:pointer; color:#ffffff; font-family: 'Noto Sans KR', sans-serif;  font-size:14px; font-weight:700; height:40px; line-height:40px; 
	padding:0 15px; box-sizing:border-box;  }
.basic-btn-simple{ display:inline-block;*display:inline;*zoom:1; vertical-align:middle;cursor:pointer; color:#ffffff; font-size:11px; height:26px; line-height:26px; 
	padding:0 5px; box-sizing:border-box;  }
.basic-btn-pink{ background-color:#f7407c; border:1px solid #c9114d; border-radius:3px; }
.basic-btn-blue{ background-color:#3598dc; border:1px solid #1882cb; border-radius:3px; }
.basic-btn-pink{ background-color:#f7407c; border:1px solid #c9114d; border-radius:3px; }
.basic-btn-gray{ background-color:#303742; border:1px solid #1a1d23; border-radius:3px; }
.basic-btn-gray-light{ color:#444 !important; background-color:#f5f5f5; border:1px solid #dddddd; border-radius:3px; }
.basic-btn-sm{  font-size:12px !important; font-weight:700; height:28px !important; line-height:26px !important; padding:0 10px !important; margin: 0 !important; }
.basic-btn-md{  font-size:12px !important; font-weight:700; height:38px !important; line-height:36px !important; padding:0 10px !important; margin: 0 !important; }

/* 페이징 */
.paging { margin:0 auto; text-align:center; }
.paging a { display:inline-block; vertical-align:middle !important; width:24px; height:24px; cursor:pointer; text-decoration:none !important; font-size:11px; line-height:22px; padding:0 !important; box-sizing:border-box; margin:0 2px; }
.paging a.side{ background:#f5f5f5; border:1px solid #ddd; border-radius:3px; color:#ddd; }
.paging a.side-on{ background:#f5f5f5; border:1px solid #ddd; border-radius:3px; color:#7b7b7b; }
.paging a.side-on:hover { background:#777777; border:1px solid #000000; color:#fff; }
.paging a.rest { border:1px solid #b5b5b5; border-radius:3px;  color:#7b7b7b; letter-spacing:-1px;}
.paging a.rest:hover { background:#777777; border:1px solid #000000; color:#fff; }
.paging a.now { font-weight:bold; background:#f7407c; border:1px solid #c9008e; border-radius:3px; color:#fff;}
.paging a.post { margin:0 9px 0 0; }
.paging a.next { margin:0 0 0 9px; }