@charset "utf-8";

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img { margin:0; padding:0; }
/*
html, body { width:100%; height:100%; overflow:hidden; }
*/
html, body { width:100%; height:100%;}

li{ list-style:none; }

body,div,tr,td,input,select,button,li {
	font-family:arial,tahoma,Malgun Gothic,'굴림',Gulim,'돋움',dotum;
	font-size:12px;
	line-height:12px;
	color:#444444;
}
	
/* 폼 */
select { border:1px solid #dddddd; height:26px; line-height:26px; padding-left:3px; box-sizing:border-box; }
input[type=text],
input[type=password]{ border:1px solid #ccc; width:100%; height:26px; line-height:26px; padding-left:3px; box-sizing:border-box; }
input[type=text]:focus { border:1px solid #335dad; }
textarea{ border:1px solid #dddddd; width:100%; height:150px; padding-left:3px; box-sizing:border-box; }
input,select { vertical-align:middle; margin:0 !important; }
img, fieldset{ border:none; vertical-align:top; }

.m-t-3 { margin-top: 3px !important; }
.m-t-4 { margin-top: 4px !important; }
.m-t-5 { margin-top: 5px !important; }
.m-t-10 { margin-top: 10px !important; }

.m-b-1 { margin-bottom: 1px !important; }
.m-b-2 { margin-bottom: 2px !important; }
.m-b-3 { margin-bottom: 3px !important; }
.m-b-4 { margin-bottom: 4px !important; }
.m-b-5 { margin-bottom: 5px !important; }
.m-b-6 { margin-bottom: 6px !important; }

.m-r-3 { margin-right: 3px !important; }
.m-r-5 { margin-right: 5px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-r-20 { margin-right: 20px !important; }

.m-l-3 { margin-left: 3px !important; }
.m-l-5 { margin-left: 5px !important; }
.m-l-10 { margin-left: 10px !important; }
.m-l-20 { margin-left: 20px !important; }

.p-3 { padding: 3px !important; }
.p-r-5 { padding-right: 5px !important; }
.p-r-50 { padding-right: 50px !important; }
.p-l-50 { padding-left: 50px !important; }

.width-full { width: 100% !important; }
.width-10 { width: 10px !important; }
.width-50 { width: 50px !important; }
.width-100 { width: 100px !important; } .width-150 { width: 150px !important; }.width-200 { width: 200px !important; } .width-300 { width: 300px !important; }

.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-ellipsis {
	text-overflow:ellipsis !important;
	white-space:nowrap !important;
	word-wrap:break-word !important;
	width:100% !important;
	overflow:hidden !important;
}
.bold{ font-weight:bold; }

.f-s-12 { font-size: 12px !important; } .f-s-13 { font-size: 13px !important; } .f-s-14 { font-size: 14px !important; }

.float-left { float: left !important; } .float-right { float: right !important; }

.border-style1 { border:1px solid #9096a3; }

.display-table{ display:table !important; }
.display-table-row{ display:table-row !important; } 
.display-table-cell{ display:table-cell !important; } 
.display-none{ display:none !important; } 

.position-relative { position:relative !important; }
.position-absolute { position:absolute !important; }

/* 3.14 Component - Button */
.btnstyle1{display:inline-block;*display:inline;*zoom:1;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333333;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #cccccc;*border:0;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);}.btnstyle1:hover,.btnstyle1:focus,.btnstyle1:active,.btnstyle1.active,.btnstyle1.disabled,.btnstyle1[disabled]{color:#333333;background-color:#e6e6e6;*background-color:#d9d9d9;}
.btnstyle1:active,.btnstyle1.active{background-color:#cccccc \9;}
.btnstyle1:first-child{*margin-left:0;}
.btnstyle1:hover,.btnstyle1:focus{color:#333333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btnstyle1:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btnstyle1.active,.btnstyle1:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}
.btnstyle1.disabled,.btnstyle1[disabled]{cursor:default;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btnstyle1-lg{padding:9px 19px !important; font-size:17px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.btnstyle1-lg [class^="icon-"],.btnstyle1-lg [class*=" icon-"]{margin-top:4px;}
.btnstyle1-sm{padding:2px 10px;font-size:11.9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.btnstyle1-sm [class^="icon-"],.btnstyle1-sm [class*=" icon-"]{margin-top:0;}
.btnstyle1-xs [class^="icon-"],.btnstyle1-xs [class*=" icon-"]{margin-top:-1px;}
.btnstyle1-xs{padding:0 6px;font-size:10.5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.btnstyle1-block{display:block;width:100%;padding-left:0;padding-right:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btnstyle1-block+.btnstyle1-block{margin-top:5px;}
input[type="submit"].btnstyle1-block,input[type="reset"].btnstyle1-block,input[type="button"].btnstyle1-block{width:100%;}
.btnstyle1-primary.active,.btnstyle1-warning.active,.btnstyle1-danger.active,.btnstyle1-success.active,.btnstyle1-info.active,.btnstyle1-inverse.active,.btnstyle1-inverse2.active,.btnstyle1-inverse3.active{color:rgba(255, 255, 255, 0.75);}
.btnstyle1-primary{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#006dcc;background-image:-moz-linear-gradient(top, #0088cc, #0044cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));background-image:-webkit-linear-gradient(top, #0088cc, #0044cc);background-image:-o-linear-gradient(top, #0088cc, #0044cc);background-image:linear-gradient(to bottom, #0088cc, #0044cc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);border-color:#0044cc #0044cc #002a80;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#0044cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btnstyle1-primary:hover,.btnstyle1-primary:focus,.btnstyle1-primary:active,.btnstyle1-primary.active,.btnstyle1-primary.disabled,.btnstyle1-primary[disabled]{color:#ffffff;background-color:#0044cc;*background-color:#003bb3;}
.btnstyle1-primary:active,.btnstyle1-primary.active{background-color:#003399 \9;}
.btnstyle1-warning{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#faa732;background-image:-moz-linear-gradient(top, #fbb450, #f89406);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));background-image:-webkit-linear-gradient(top, #fbb450, #f89406);background-image:-o-linear-gradient(top, #fbb450, #f89406);background-image:linear-gradient(to bottom, #fbb450, #f89406);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);border-color:#f89406 #f89406 #ad6704;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#f89406;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btnstyle1-warning:hover,.btnstyle1-warning:focus,.btnstyle1-warning:active,.btnstyle1-warning.active,.btnstyle1-warning.disabled,.btnstyle1-warning[disabled]{color:#ffffff;background-color:#f89406;*background-color:#df8505;}
.btnstyle1-warning:active,.btnstyle1-warning.active{background-color:#c67605 \9;}
.btnstyle1-danger{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#da4f49;background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);background-image:linear-gradient(to bottom, #ee5f5b, #bd362f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);border-color:#bd362f #bd362f #802420;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#bd362f;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btnstyle1-danger:hover,.btnstyle1-danger:focus,.btnstyle1-danger:active,.btnstyle1-danger.active,.btnstyle1-danger.disabled,.btnstyle1-danger[disabled]{color:#ffffff;background-color:#bd362f;*background-color:#a9302a;}
.btnstyle1-danger:active,.btnstyle1-danger.active{background-color:#942a25 \9;}
.btnstyle1-gary{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#727272;background-image:-moz-linear-gradient(top, #959595, #6c6a69);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#959595), to(#6c6a69));background-image:-webkit-linear-gradient(top, #959595, #6c6a69);background-image:-o-linear-gradient(top, #959595, #6c6a69);background-image:linear-gradient(to bottom, #959595, #6c6a69);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);border-color:#777777 #777777 #524c4b;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#6c6a69;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btnstyle1-gary:hover,.btnstyle1-gary:focus,.btnstyle1-gary:active,.btnstyle1-gary.active,.btnstyle1-gary.disabled,.btnstyle1-gary[disabled]{color:#ffffff;background-color:#6c6a69;*background-color:#a9302a;}
.btnstyle1-gary:active,.btnstyle1-gary.active{background-color:#942a25 \9;}
.btnstyle1-danger2{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#b62d25;background-image:-moz-linear-gradient(top, #e92f29, #8d2823);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));background-image:-webkit-linear-gradient(top, #ee5f5b, #aa312b);background-image:-o-linear-gradient(top, #ee5f5b, #aa312b);background-image:linear-gradient(to bottom, #ee5f5b, #bd362f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);border-color:#72211d #72211d #611c18;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#bd362f;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btnstyle1-danger2:hover,.btnstyle1-danger2:focus,.btnstyle1-danger2:active,.btnstyle1-danger2.active,.btnstyle1-danger2.disabled,.btnstyle1-danger2[disabled]{color:#ffffff;background-color:#bd362f;*background-color:#a9302a;}
.btnstyle1-danger2:active,.btnstyle1-danger2.active{background-color:#942a25 \9;}
.btnstyle1-success{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#5bb75b;background-image:-moz-linear-gradient(top, #62c462, #51a351);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));background-image:-webkit-linear-gradient(top, #62c462, #51a351);background-image:-o-linear-gradient(top, #62c462, #51a351);background-image:linear-gradient(to bottom, #62c462, #51a351);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);border-color:#51a351 #51a351 #387038;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#51a351;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btnstyle1-success:hover,.btnstyle1-success:focus,.btnstyle1-success:active,.btnstyle1-success.active,.btnstyle1-success.disabled,.btnstyle1-success[disabled]{color:#ffffff;background-color:#51a351;*background-color:#499249;}
.btnstyle1-success:active,.btnstyle1-success.active{background-color:#408140 \9;}
.btnstyle1-info{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#49afcd;background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);background-image:linear-gradient(to bottom, #5bc0de, #2f96b4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#2f96b4;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btnstyle1-info:hover,.btnstyle1-info:focus,.btnstyle1-info:active,.btnstyle1-info.active,.btnstyle1-info.disabled,.btnstyle1-info[disabled]{color:#ffffff;background-color:#2f96b4;*background-color:#2a85a0;}
.btnstyle1-info:active,.btnstyle1-info.active{background-color:#24748c \9;}
.btnstyle1-inverse{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#363636;background-image:-moz-linear-gradient(top, #3d4650, #111);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#3d4650), to(#111));background-image:-webkit-linear-gradient(top, #3d4650, #111);background-image:-o-linear-gradient(top, #3d4650, #111);background-image:linear-gradient(to bottom, #3d4650, #111);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d4650', endColorstr='#ff111', GradientType=0);border-color:#111 #111 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#111;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btnstyle1-inverse:hover,.btnstyle1-inverse:focus,.btnstyle1-inverse:active,.btnstyle1-inverse.active,.btnstyle1-inverse.disabled,.btnstyle1-inverse[disabled]{color:#ffffff;background-color:#111;*background-color:#151515;}
.btnstyle1-inverse:active,.btnstyle1-inverse.active{background-color:#080808 \9;}
.btnstyle1-inverse2{color:#c8e1fd;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#0C1524;background-image:-moz-linear-gradient(top, #354562, #111e33);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#354562), to(#111e33));background-image:-webkit-linear-gradient(top, #354562, #111e33);background-image:-o-linear-gradient(top, #354562, #111e33);background-image:linear-gradient(to bottom, #354562, #111e33);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1111', endColorstr='#ff1111', GradientType=0);border-color:#111 #111 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#111;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btnstyle1-inverse2:hover,.btnstyle1-inverse2:focus,.btnstyle1-inverse2:active,.btnstyle1-inverse2.active,.btnstyle1-inverse2.disabled,.btnstyle1-inverse2[disabled]{color:#ffffff;background-color:#0c1525;*background-color:#151515;}
.btnstyle1-inverse2:active,.btnstyle1-inverse2.active{background-color:#080808 \9;}
.btnstyle1-inverse3{
	color:#c8e1fd;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#0C1524;
	background-image:-moz-linear-gradient(top, #354562, #172946);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#354562), to(#111e33));
	background-image:-webkit-linear-gradient(top, #354562, #111e33);
	background-image:-o-linear-gradient(top, #354562, #111e33);
	background-image:linear-gradient(to bottom, #354562, #111e33);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1111', endColorstr='#ff1111', GradientType=0);
	border-color:#111 #111 #000000;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#111;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btnstyle1-inverse3:hover,.btnstyle1-inverse3:focus,.btnstyle1-inverse3:active,.btnstyle1-inverse3.active,.btnstyle1-inverse3.disabled,.btnstyle1-inverse3[disabled]{
	color:#ffffff;
	background-color:#111e33;*background-color:#354562;
}
.btnstyle1-submit{ width:110px !important; height:34px !important; }

/*
label{ margin-right:10px;}
*/


/* */
.explain{
border:1px dashed #8aa3d2;
padding:5px;
margin-top:5px;
border-radius:5px;
background-color:#f7f7f7;
color:#3266cc;
font-size:12px;
line-height:120%;
}

.text-transform-uppercase{ text-transform:uppercase; }

